@model GPS.Models.Jogador

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Jogador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameJogador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameJogador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mensalista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mensalista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObsMensalista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObsMensalista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inativo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
